

<body class="home">
    <h2> <a class="homebutton", href="/artworks">Start Browsing</a> </h2>
        <b> View our collection of Artwork! </b>
            <br>
            <% if !@current_user %>
    <h2> <a class="homebutton", href="/users/new">Join us Today!</a> </h2>
            <% end %>
        <p class="stayonbottomright">
            THE DREAM TEAM<br>
            Joseph S. Cha<br>
            Andrew Casarsa<br>
            Brett Bedevian<br> 
        Mod-2-Project</p>
</body>

