<h1> Welcome page </h1>

Header 
    - Home
    - Gallery 
    - Log in/Sign up
Body 
    - Short welcome message
    - Sign up button or form 
    - Log in form 
    - ****Donate button linked to Joseph's paypal. 
Footer 
    - (stretch) Randomly generated artwork show pages (max 3 views)