<center>
<h1>Artwork Types</h1>
</center>

<% @object_types.each do |object_type| %>
    <%= link_to "#{object_type.name} -  #{pluralize(object_type.artworks.count, "Artwork")}", object_type_path(object_type.id), :class => "styledlink2" %>
<% end %>