
<center><h1>Artists Index</h1></center>


<% @artists.each do |artist| %>
  <%= link_to "#{artist.name} - #{pluralize(artist.artworks.count, "Artwork")}", artist, :class => "styledlink2" %> 
<% end %>


