<h1>All Galleries Sorted By Likes</h1>

<% sorted_users = User.best_first %>

<div id="index-container">
<% sorted_users.each do |user| %>
<center>
<div class="index-tile" >
<img src="<%=user.img_url%>">
  <%= link_to user.name, user, :class => "styledlink" %> <br>
  number of artworks: <%= user.total_artworks%><br>
  Total likes: <%= user.total_likes %> <br><br><br>
  </div>
  </center>
<% end %>
<br>
</div>

<%# add sessions for personal info %>
