<h1>index</h1>
<ul>
<% @users.each do |user| %>
  <li> <%= link_to user.name, user %></li><hr>
  <li> <img style='height:500px; width:auto;' src= '<%= user.img_url %>'></li><hr>
<% end %>
<br>
</ul>

<%# add sessions for personal info %>
