<h1>All Galleries sorted by likes</h1>
<ul>
<% @users.each do |user| %>
  <%= link_to user.name, user %>
  number of artworks in gallery: <%= user.total_artworks%><br>
  <%# if user.artworks %>
  <%# <img src='<%= user.artworks.sample.img_url %>
  <%# <% end %> 
<% end %>
<br>
</ul>

<%# add sessions for personal info %>
